<div class="container">
  <header>
      <h1> Aplicación criptomonedas </h1>
       <img class="logo" width="50" height="50" src="https://img.icons8.com/officel/50/metamask-logo.png" alt="metamask-logo"/>
       <img class="logo" width="48" height="48" src="https://img.icons8.com/color/48/metamask-logo.png" alt="metamask-logo"/>
       <img class="logo" width="50" height="50" src="https://img.icons8.com/plasticine/50/metamask-logo.png" alt="metamask-logo"/>
</header>
  <div class="row">
  <div class="container-fluid">
    <nav class="menu">
      <div [routerLink]="['/Inicio']"> <img width="30" height="30" src="https://img.icons8.com/ios/30/globe--v1.png" alt="globe--v1"/> Inicio</div>
      <div [routerLink]="['/Criptomonedas']"><img width="30" height="30" src="https://img.icons8.com/arcade/30/bitcoin.png" alt="bitcoin"/> Criptomonedas</div>
      <div [routerLink]="['/Exchange']"> <img width="30" height="30" src="https://img.icons8.com/color-glass/30/exchange.png" alt="exchange"/> Exchange</div>
      <div [routerLink]="['/Opciones']"> <img width="30" height="30" src="https://img.icons8.com/external-bearicons-blue-bearicons/30/external-Option-audio-and-video-bearicons-blue-bearicons.png" alt="external-Option-audio-and-video-bearicons-blue-bearicons"/>Opciones avanzadas</div>
      <div [routerLink]="['/Favorito']"> <img width="30" height="30" src="https://img.icons8.com/color/30/bitcoin-sccepted.png" alt="bitcoin-sccepted"/> Favoritos</div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
